# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/
staticfiles/
media/
*.sqlite3
backend/.env

# Node
node_modules/
dist/
.vite/
frontend/.env

# Editors/OS
.DS_Store
.vscode/
.idea/

# Docker
*.log
